{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
    <div class="col-md-12"><center><h1>Assignment 5</h1></center></div>
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body"><a href="/gui/pie-chart-cpu/">CPU Usage</a></div>
            </div>
            <div class="card">
                <div class="card-body"><a href="/gui/pie-chart-memory/">Memory Usage</a></div>
            </div>
            <div class="card">
                <div class="card-body"><a href="/gui/renice/">Renice</a></div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}