{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
    <div class="col-md-12"><center><h1>Assignment 4</h1></center></div>
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                <h2>Add user</h2>
                <form method="get" action="/gui/add-user">
                    <div class="form-group">
                        <input type="text" class="form-control" id="exampleInputEmail1" name="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-body">
                <h2>Delete user</h2>
                    <form method="get" action="/gui/del-user">
                        <div class="form-group">
                            <input type="text" class="form-control" id="exampleInputEmail1" name="username" placeholder="Username">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-body">
                    <a href="/gui/add-users-list">Users List</a>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}