{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <div class="alert alert-danger">
                    <span {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
                </div>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="card">
                    <div class="card-body"><a href="/gui/grub/">Grub</a></div>
                </div>

                <div class="card">
                    <div class="card-body"><a href="/gui/grub/">
                        <a href="/gui/shutdown/">Shutdown</a>
                        <form action="/gui/shutdown/" method="get">
                            <input type="number" placeholder="enter value in seconds" name="timeout"><br>
                            <input type="submit" value="Submit">
                        </form></a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <a href="/gui/restart/">Restart</a>
                        <form action="/gui/restart/" method="get">
                            <input type="number" placeholder="enter value in seconds" name="timeout"><br>
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body"><a href="/gui/grub/"><a href="/gui/cancel-shutdown/">Cancel Shutdown</a></div>
                </div>

                <div class="card">
                        <div class="card-body"><a href="/gui/change-splash/">Change Splash</a></div>
                    </div>
                <div class="card">
                    <div class="card-body">
                        <a href="/gui/change-grub-timeout/">Change Grub Timeout</a>
                        <form action="/gui/change-grub-timeout/" method="get">
                            <input type="number" placeholder="enter value in seconds" name="timeout"><br>
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body"><a href="/gui/logout/">Logout</a></div>
                </div>

                <div class="card">
                    <div class="card-body"><a href="/gui/force-restart/">Force Restart</a></div>
                </div>

                <div class="card">
                    <div class="card-body"><a href="/gui/change-grub-order/">Change Grub Order</a>
                        <form action="/gui/change-grub-order/" method="get">
                            <input type="number" placeholder="enter value among 0, 1, 2" name="number"><br>
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="card">
                    <div class="card-body"><a href="/gui/pie-chart-cpu/">CPU Usage</a></div>
                </div>
                <div class="card">
                    <div class="card-body"><a href="/gui/pie-chart-memory/">Memory Usage</a></div>
                </div>
                <div class="card">
                    <div class="card-body"><a href="/gui/renice/">Renice</a></div>
                </div>
                </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <div class="card">
                    <div class="card-body"><a href="/gui/add-update-permission/">Add Update File Permission</a>
                        <form action="/gui/add-update-permission/" method="get">
                            <input type="number" placeholder="enter value of type 777" name="number"><br>
                            {% comment %} <input type="file" name="file"> {% endcomment %}
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body"><a href="/gui/umask-calculator/">Umask Calculator</a>
                        <form action="/gui/umask-calculator/" method="get">
                            <input type="number" placeholder="enter value of type 777" name="number"><br>
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                    {% comment %} <div class="card-body"><a href="/gui/renice/">Umask Value</a></div> {% endcomment %}
                </div>
                <div class="card">
                    <div class="card-body"><a href="/gui/add-update-user-permission-acl/">User ACL</a>
                        <form action="/gui/add-update-user-permission-acl/" method="get">
                            <input type="text" placeholder="enter username" name="name"><br>
                            <input type="text" placeholder="enter value of type rwx" name="number"><br>
                            {% comment %} <input type="file" name="file"> {% endcomment %}
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body"><a href="/gui/add-update-group-permission-acl/">Group ACL</a>
                        <form action="/gui/add-update-group-permission-acl/" method="get">
                            <input type="text" placeholder="enter username" name="name"><br>
                            <input type="text" placeholder="enter value of type rwx" name="number"><br>
                            {% comment %} <input type="file" name="file"> {% endcomment %}
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}