{% extends "base.html" %}
{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<ul>
    <li><a href="/gui/grub/">Grub</a></li>
    <li><a href="/gui/shutdown/">Shutdown</a></li>
    <li><a href="/gui/cancel-shutdown/">Cancel Shutdown</a></li>
    <li><a href="/gui/logout/">Logout</a></li>
    <li><a href="/gui/restart/">Restart</a></li>
    <li><a href="/gui/force-restart/">Force Restart</a></li>
    <li><a href="/gui/change-splash/">Change Splash</a></li>
</ul>
{% endblock %}